.vs/
Hunt_Prototype.sln
Binaries/
Build/
Intermediate/
Saved/
*_BuiltData.uasset
DerivedDataCache/

#########
#Asset Files#
#########

Content/ParagonKwang/
Content/StarterContent/
Content/Stylized_Egypt/
Content/Mannequins/
Content/ParagonSerath/
